### Combine data  from volunteers and turkers
#### Events

In [1]:
import pandas as pd

In [2]:
vol_events = pd.read_csv('../../data/interim/collected/vol-features.csv')
vol_events.insert(2, 'type', 'volunteer')
vol_events.head()

,condition_id,worker_id,type,Click_LabelDelete_per_pan_mean,Click_LabelDelete_per_pan_std,Click_LabelDelete_total,Click_ModeSwitch_CurbRamp_per_pan_mean,Click_ModeSwitch_CurbRamp_per_pan_std,Click_ModeSwitch_CurbRamp_total,Click_ModeSwitch_NoCurbRamp_per_pan_mean,...,ViewControl_DoubleClick_total,ViewControl_MouseDown_per_pan_mean,ViewControl_MouseDown_per_pan_std,ViewControl_MouseDown_total,ViewControl_MouseUp_per_pan_mean,ViewControl_MouseUp_per_pan_std,ViewControl_MouseUp_total,WalkTowards_per_pan_mean,WalkTowards_per_pan_std,WalkTowards_total
0,70,01232fef-5a19-4435-8be6-c0da3b38cabd,volunteer,1.000000,0.000000,4,2.204545,1.249736,97,1.588235,...,137,2.395200,2.899322,1497,2.358400,2.775153,1474,0,0,0
1,72,9501513f-3822-4921-861e-8f1440dee102,volunteer,1.000000,0.000000,1,1.943925,1.294632,208,1.425532,...,63,2.187234,1.966415,1028,2.170213,1.926354,1020,0,0,0
2,73,32f21407-253f-46ea-a01b-55bcf4ac2113,volunteer,1.166667,0.408248,7,3.247059,2.092537,276,1.400000,...,33,3.468619,4.165605,1658,3.351464,4.002346,1602,0,0,0
3,74,b65c0864-7c3a-4ba7-953b-50743a2634f6,volunteer,1.333333,0.577350,4,1.874172,1.318103,283,1.323529,...,4,2.286598,2.967163,1109,2.255670,2.831456,1094,0,0,0
4,75,0bfed786-ce24-43f9-9c58-084ae82ad175,volunteer,1.000000,0.000000,4,3.200000,2.388004,128,1.666667,...,8,4.848684,6.557701,737,4.651316,6.087943,707,0,0,0

In [3]:
turk_events = pd.read_csv('../../data/interim/collected/turk-features.csv')
turk_events.insert(2, 'type', 'turker')
turk_events.head()

,condition_id,worker_id,type,Click_LabelDelete_per_pan_mean,Click_LabelDelete_per_pan_std,Click_LabelDelete_total,Click_ModeSwitch_CurbRamp_per_pan_mean,Click_ModeSwitch_CurbRamp_per_pan_std,Click_ModeSwitch_CurbRamp_total,Click_ModeSwitch_NoCurbRamp_per_pan_mean,...,ViewControl_DoubleClick_total,ViewControl_MouseDown_per_pan_mean,ViewControl_MouseDown_per_pan_std,ViewControl_MouseDown_total,ViewControl_MouseUp_per_pan_mean,ViewControl_MouseUp_per_pan_std,ViewControl_MouseUp_total,WalkTowards_per_pan_mean,WalkTowards_per_pan_std,WalkTowards_total
0,70,A3PPRVK6XK6GP5,turker,2.500000,2.12132,5,3.388889,2.226548,61,2.000000,...,130,7.235294,8.381736,615,6.917647,7.850101,588,0,0,0
1,72,A1TNQU9L5L62PL,turker,0.000000,0.00000,0,2.219512,2.603000,91,1.447368,...,23,5.656489,6.420845,741,5.389313,6.039068,706,0,0,0
2,74,A20BMZQJS92QY2,turker,1.181818,0.40452,13,2.358974,1.769436,92,1.846154,...,1,8.060606,5.626759,1064,7.878788,5.523068,1040,0,0,0
3,75,A3AUDX0SE41K23,turker,1.000000,0.00000,4,4.920000,2.531798,123,1.000000,...,13,8.504274,9.576933,995,7.709402,8.266113,902,0,0,0
4,76,A2DU8E2MAIGII6,turker,1.666667,0.57735,5,3.666667,2.309401,11,1.000000,...,224,7.772727,7.697928,684,7.511364,7.345331,661,0,0,0

In [4]:
events = vol_events.append(turk_events, ignore_index=True)
events.reindex()
events.sample(n=5)

,condition_id,worker_id,type,Click_LabelDelete_per_pan_mean,Click_LabelDelete_per_pan_std,Click_LabelDelete_total,Click_ModeSwitch_CurbRamp_per_pan_mean,Click_ModeSwitch_CurbRamp_per_pan_std,Click_ModeSwitch_CurbRamp_total,Click_ModeSwitch_NoCurbRamp_per_pan_mean,...,ViewControl_DoubleClick_total,ViewControl_MouseDown_per_pan_mean,ViewControl_MouseDown_per_pan_std,ViewControl_MouseDown_total,ViewControl_MouseUp_per_pan_mean,ViewControl_MouseUp_per_pan_std,ViewControl_MouseUp_total,WalkTowards_per_pan_mean,WalkTowards_per_pan_std,WalkTowards_total
197,133,A3MF31JQ350ABS,turker,1.000000,0.000000,2,3.250000,1.612452,52,2.000000,...,2,5.346154,8.500309,417,4.576923,6.773745,357,0,0,0
185,113,A2IRMLMNI01SAP,turker,2.000000,1.095445,12,2.500000,1.719454,60,2.312500,...,5,9.277372,15.972278,1271,8.737226,15.099313,1197,0,0,0
205,74,A0017268R9SKD8U2Y3F,turker,1.000000,0.000000,1,2.944444,1.893401,53,1.333333,...,14,7.591304,8.173444,873,7.243478,7.815405,833,0,0,0
107,82,A23DQV3KHW7XXW,turker,1.250000,0.500000,5,2.692308,1.652504,35,1.200000,...,47,6.052174,7.137550,696,5.956522,7.037981,685,0,0,0
280,101,A4ZW4GNQ98HV6,turker,1.333333,0.516398,8,2.200000,1.643168,11,1.333333,...,78,5.946154,6.211157,773,4.961538,5.187050,645,0,0,0

In [5]:
# check for no null
for i, row in events.notna().iterrows():
    for j, el in enumerate(row):
        if el != True:
            assert False

In [30]:
events.to_csv('../../data/interim/processing/events.csv', index=False)

#### Scores

In [6]:
unneeded_cols = ['worker2', 'worker3', 'worker4', 'worker5', 'n.workers', 'worker.thresh', 'precision', 'recall', 'specificity', 'f.measure']
option_defaults = {'binary': True, 'remove.low.severity': False}

def set_defaults(df):
    for key in option_defaults.keys():
        df[df[key] == option_defaults[key]]
        del df[key]
    return df

In [23]:
vol_scores = pd.read_csv('../../data/raw/vol-accuracy.csv')
vol_scores.insert(2, 'type', 'volunteer')
vol_scores = vol_scores.rename(
    columns={'condition.id': 'condition_id', 'worker1': 'worker_id'}
)

# check that multiuser sessions aren't included
assert len(vol_scores[vol_scores['n.workers'] != 1]) == 0

# remove excess columns
for col in unneeded_cols:
    del vol_scores[col]

# remove column only in volunteers
del vol_scores['prob.no.prob']

# get scores using defaualt options
vol_scores = set_defaults(vol_scores)

vol_scores.head()

,condition_id,worker_id,type,granularity,label.type,true.pos,false.pos,true.neg,false.neg
0,70,01232fef-5a19-4435-8be6-c0da3b38cabd,volunteer,5_meter,Problem,27,26,186,17
1,70,01232fef-5a19-4435-8be6-c0da3b38cabd,volunteer,10_meter,Problem,27,15,76,12
2,70,01232fef-5a19-4435-8be6-c0da3b38cabd,volunteer,street,Problem,17,0,0,0
3,72,9501513f-3822-4921-861e-8f1440dee102,volunteer,5_meter,Problem,22,58,161,7
4,72,9501513f-3822-4921-861e-8f1440dee102,volunteer,10_meter,Problem,21,44,59,3

In [24]:
turk_scores = pd.read_csv('../../data/raw/turk-accuracy.csv')
turk_scores.insert(2, 'type', 'turker')
turk_scores = turk_scores.rename(
    columns={'condition.id': 'condition_id', 'worker1': 'worker_id'}
)

# check that multiuser sessions aren't included
assert len(turk_scores[turk_scores['n.workers'] != 1]) == 0

# remove excess columns
for col in unneeded_cols:
    del turk_scores[col]
    
# get scores with default options
turk_scores = set_defaults(turk_scores)

# select turk_scores without severity threshold
turk_scores = turk_scores[turk_scores['low.severity.thresh'].isna()]
del turk_scores['low.severity.thresh']
    
turk_scores.head()

,condition_id,worker_id,type,granularity,label.type,true.pos,false.pos,true.neg,false.neg
0,70,A3PPRVK6XK6GP5,turker,5_meter,Problem,20,10,202,24
1,70,A3PPRVK6XK6GP5,turker,10_meter,Problem,19,6,85,20
2,70,A3PPRVK6XK6GP5,turker,street,Problem,10,0,0,7
3,72,A1TNQU9L5L62PL,turker,5_meter,Problem,21,70,149,8
4,72,A1TNQU9L5L62PL,turker,10_meter,Problem,19,44,59,5

In [25]:
# check that columns are the same
assert len(set(vol_scores.columns) - set(turk_scores.columns)) == 0
assert len(set(turk_scores.columns) - set(vol_scores.columns)) == 0

In [27]:
# combine
scores = vol_scores.append(turk_scores, ignore_index=True)
scores.reindex()
scores.head()

,condition_id,worker_id,type,granularity,label.type,true.pos,false.pos,true.neg,false.neg
0,70,01232fef-5a19-4435-8be6-c0da3b38cabd,volunteer,5_meter,Problem,27,26,186,17
1,70,01232fef-5a19-4435-8be6-c0da3b38cabd,volunteer,10_meter,Problem,27,15,76,12
2,70,01232fef-5a19-4435-8be6-c0da3b38cabd,volunteer,street,Problem,17,0,0,0
3,72,9501513f-3822-4921-861e-8f1440dee102,volunteer,5_meter,Problem,22,58,161,7
4,72,9501513f-3822-4921-861e-8f1440dee102,volunteer,10_meter,Problem,21,44,59,3

In [35]:
def combine_label_types(df):
        
    g = df.groupby(by=['condition_id', 'worker_id', 'type', 'granularity'])
    return g.sum()
    
scores_comb = combine_label_types(scores)
scores_comb.head(10)

                                                                         true.pos  \
condition_id worker_id                            type      granularity
70           01232fef-5a19-4435-8be6-c0da3b38cabd volunteer 10_meter          116
                                                            5_meter           112
                                                            street             76
             A1DATRS7IUV9B3                       turker    10_meter          120
                                                            5_meter            95
                                                            street            126
             A2U9OI2A0C2DG7                       turker    10_meter          172
                                                            5_meter           153
                                                            street            161
             A2X3QCJK0H18T8                       turker    10_meter          102

                                                                         false.pos  \
condition_id worker_id                            type      granularity
70           01232fef-5a19-4435-8be6-c0da3b38cabd volunteer 10_meter            86
                                                            5_meter            136
                                                            street              18
             A1DATRS7IUV9B3                       turker    10_meter           110
                                                            5_meter            151
                                                            street              55
             A2U9OI2A0C2DG7                       turker    10_meter           301
                                                            5_meter            348
                                                            street             172
             A2X3QCJK0H18T8                       turker    10_meter           407

                                                                         true.neg  \
condition_id worker_id                            type      granularity
70           01232fef-5a19-4435-8be6-c0da3b38cabd volunteer 10_meter         1564
                                                            5_meter          3262
                                                            street            140
             A1DATRS7IUV9B3                       turker    10_meter         1564
                                                            5_meter          3264
                                                            street            136
             A2U9OI2A0C2DG7                       turker    10_meter         1414
                                                            5_meter          3100
                                                            street            136
             A2X3QCJK0H18T8                       turker    10_meter         1370

                                                                         false.neg
condition_id worker_id                            type      granularity
70           01232fef-5a19-4435-8be6-c0da3b38cabd volunteer 10_meter            54
                                                            5_meter             74
                                                            street               4
             A1DATRS7IUV9B3                       turker    10_meter            99
                                                            5_meter            132
                                                            street              48
             A2U9OI2A0C2DG7                       turker    10_meter            47
                                                            5_meter             74
                                                            street              13
             A2X3QCJK0H18T8                       turker    10_meter           117

In [32]:
scores_comb.to_csv('../../data/interim/processing/scores-comb.csv')